extends layout

block content
        link(rel='stylesheet' href='/bootstrap/bootstrap.css')
        
        form(method='POST',action='/articles/add')

            
            div.container.form
             h1 Login Kanna
                div.form-group
                    label Usuario:
                    input.form-control(name='Usuario', type='text')  
                
                div.form-group
                    label Password:
                    input.form-control(name='password', type='password')
                div.form-group
                    input.btn.btn-primary.col-xs-12(type='submit', value='Submit')